.sleep-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sleep-form-container .submit button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: rgb(127, 206, 210);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .log-more-button {
    padding: 10px 20px;
    background: rgb(200, 230, 232);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .sleep-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .sleep-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(127, 206, 210);
  }
  
  .sleep-item p {
    margin: 0;
  }
  
  .sleep-item p:first-child {
    font-weight: bold;
  }