.sleep-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    max-width: 100px;
    background: rgb(127, 206, 210);
  }
  
  .sleep-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .average-sleep {
    font-weight: bold;
  }