/* .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .form-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .submit-login {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f69;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-login:hover {
    background-color: #ff4c43;
  } */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/d5/ee/86/d5ee8682fe3ed68736465517f05b25e1.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .login-box {
    width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-login {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }

  
  
  
  
  
  

  